<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reactnativedemo">

  <application
      android:name=".MainApplication"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/AppTheme">
    <activity
        android:name=".MainActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    <meta-data
        android:name="PGYER_APPID"
        android:value="008fbbd127016970cd0ca03591cd1efd" />

    <meta-data
        android:name="BaiduMobAd_STAT_ID"
        android:value="0dd7cb025b" />

    <!--   百度统计   -->
    <meta-data
        android:name="BaiduMobAd_CHANNEL"
        android:value="Baidu Market" />
    <meta-data
        android:name="BaiduMobAd_EXCEPTION_LOG"
        android:value="true" />
    <meta-data
        android:name="BaiduMobAd_ONLY_WIFI"
        android:value="false" />
    <meta-data
        android:name="BaiduMobAd_CELL_LOCATION"
        android:value="true" />
    <meta-data
        android:name="BaiduMobAd_GPS_LOCATION"
        android:value="true" />
    <meta-data
        android:name="BaiduMobAd_WIFI_LOCATION"
        android:value="true" />

    <!--    <provider-->
    <!--        android:name="com.reactnativedemo.MyProvider"-->
    <!--        android:authorities="${applicationId}.provider"-->
    <!--        android:exported="false"-->
    <!--        android:grantUriPermissions="true"-->
    <!--        tools:replace="android:authorities">-->
    <!--      <meta-data-->
    <!--          android:name="android.support.FILE_PROVIDER_PATHS"-->
    <!--          android:resource="@xml/file_paths"-->
    <!--          tools:replace="android:resource" />-->
    <!--    </provider>-->

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileProvider"
        android:exported="false"
        android:grantUriPermissions="true"
        tools:replace="android:authorities">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths"
          tools:replace="android:resource" />
    </provider>

  </application>


  <uses-feature
      android:name="android.hardware.camera"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.camera.front"
      android:required="false" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-permission android:name="android.permission.GET_TASKS" />

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>
